<!DOCTYPE html>
<html lang={{ .Site.LanguageCode }}>
{{ partial "head.html" . }}

<body>
	<div class="container wrapper tags">
		{{ partial "header.html" . }}

		<h1 class="page-title">{{ .Title }}</h1>

		{{ with .Content }}{{ . }}{{ end }}

        {{ $data := .Data }}
		<div class="tag-cloud">
			<nav class="tags">
				<ul class="flat">	
				{{ range .Data.Terms }}
					<li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
				{{ end }}
				</ul>
			</nav>	
		</div>
		{{ partial "footer.html" . }}
	</div>

</body>

</html>